@model PokemonDetail

<h2>@Model.Name</h2>
<img src="@Model.Sprites.Front_Default" />
<span>Altura: @Model.Height</span>
<span>Peso: @Model.Weight</span>
<span>Experiencia: @Model.BaseExperience</span>